body{
    background-color: #111;
    color: #AAA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#root{
    width: 70vw;
    margin: auto;
}
h1{
    color: #990c0c;
}
li{
    list-style-type: none ;
}

button{
    text-transform: uppercase;
    background-color: #AAA ;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
}

button:hover{
    color: #990c0c;
}

nav{
    display: flex;
    justify-content: space-around;
}